rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Core Authorization
    function isManager() {
      return request.auth != null;
    }

    // Publicly Readable Assets
    match /gallery/{allPaths=**} {
      allow read: if true;
      allow write: if isManager();
    }
    match /plans/{allPaths=**} {
      allow read: if true;
      allow write: if isManager();
    }
    match /avatars/{allPaths=**} {
      allow read: if true;
      allow write: if isManager();
    }

    // Private Business Assets
    match /claims/{allPaths=**} {
      allow read, write: if isManager();
    }
    match /documents/{allPaths=**} {
      allow read, write: if isManager();
    }
  }
}
